
<div class="container">
    <div class="signup">

    <div class="col-md-9" >
        <form method="POST" enctype="multipart/form-data">
            <h4 class="auth-header">تسجيل الدخول </h4>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        Email : {{form.username}}
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        Password : {{form.password}}
                    </div>
                </div>
                
            </div>
            <div class="buttons-w"><button type="submit" class="btn btn-success">التسجيل</button></div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

        </form>
    </div>
    </div>
    <div class="container signin">
        <p> forgot password ? <a href="/sendingmail/">reset password</a>.</p>
    </div>
    <div class="container register">
        <p> dont have account ? <a href="/register/">register</a>.</p>
    </div>
</div>
</div>
